body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #756AB6, #AC87C5);
}

.container {
    margin-top: 30px;
}

.user {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #E0AED0; 
}

.card-text {
    margin-bottom: 15px;
    color: #333; 
}

.text-muted {
    color: #E0AED0;
}

#contenedor {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 1.5rem;
    color: #007bff;
}

footer {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}
